{% extends 'parent/base.html' %}
{% load  crispy_forms_tags %}
{% block  mycontent %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-6 mt-5">
            <div class="card shadow p-3">
                <h1>LogIn Form</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit"
                       class="btn btn-primary mt-2 w-100"
                       value="Login">
                </form>
                <div class="text-center mt-2">
                    <a href="{% url 'password_reset' %}"
                   class="h5 text-decoration-none">Forgot Password ?</a>
                    <a href="{% url 'signup-page' %}"
                       class="btn btn-success mt-2">Create an Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}