{% extends 'parent/base.html' %}
{% load  crispy_forms_tags %}
{% block  mycontent %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-6 mt-5">
            <div class="card shadow p-3">
                <h3 class="text-center">Reset Password Form</h3>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit"
                       class="btn btn-primary mt-2 w-100"
                       value="Reset Password Confirm">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}